body {
  background-color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
  font-size: 1em;
  color: #282735;
  padding-top: 100px;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 1em;
  line-height: 1.75em;
  color: #282735;
}

section {
  width: 100%;
  padding: 0;
  display: table;
  margin: 0;
  max-width: none;
  background-color: #E9DCCA;
  height: 100%;
  &:nth-of-type(2n) {
  background-color: #E9DCCA;
  }
}

.wrap-sq-50 {
	padding-top: 25%;
}

.title {
  font-weight: 400;
  font-size: 1.5em;
  padding-bottom: 2em;
}

.header {
  font-size: 0.75em;
  letter-spacing: 0.15em;
}

.ysdn {
  font-size: 0.80em;
}

::selection {
  background-color: #000;
  color: #fff;
  }
/*
::-webkit-scrollbar-thumb:vertical {  
  background-color:#000;
  border: 0px transparent;
  }

::-webkit-scrollbar-thumb:horizontal { 
  background-color:#000;
  border: 3px transparent;
  }

::-webkit-scrollbar { 
  overflow: scroll;
  height:5px;
  width:5px; 
  background-color: transparent;
  }
*/
a {
  color: #000; 
  background: none;
  -o-transition:color .2s ease-out, background 1s ease-in;
  -ms-transition:color .2s ease-out, background 1s ease-in;
  -moz-transition:color .2s ease-out, background 1s ease-in;
  -webkit-transition:color .2s ease-out, background 1s ease-in;
  /* ...and now override with proper CSS property */
  transition:color .2s ease-out, background 1s ease-in;
  }

  a.hover {
    color: #fff;
  }

.content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.do-the-thing {
  font-size: 0.25em;
  text-align: center;
}

.container{
  width: 100%;
  z-index: 2;
}
/* no dot = its own element and with a dot , its a class */
footer {
  /* top right bottom left */
  padding: 1em 0 1em 0;
  background-color: #000;
  color: #fff;
}

.toptest {
  padding-top: 10%;
}
